
.menu-container{
    background-color: rgb(45, 45, 152);
    width: 100vw;
    height:100px;
    padding: 20px;
}
.list{
    padding: 10px;
    display: flex;
    gap: 2rem;
    justify-items: center;
    flex-direction: row;
    flex-wrap: wrap;

}
.list-item{
    list-style-type: none;
    margin-inline: 30px;
}